# RE

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [7]:
ds_vivi = pd.read_csv('datos/conjunto_de_datos_viviendas_enigh_2016_ns.csv')
ds_vivi

,folioviv,tipo_viv,mat_pared,mat_techos,mat_pisos,antiguedad,antigua_ne,cocina,cocina_dor,cuart_dorm,...,tot_hom,tot_muj,tot_hog,ubica_geo,ageb,tam_loc,est_socio,est_dis,upm,factor
0,100298502,1,8,10,3,40,NaN,1,2.0,5,...,2,2,1,10010000,000-0,1,4,3,320,212
1,100298504,1,8,10,3,9,NaN,1,2.0,3,...,1,2,1,10010000,000-0,1,4,3,320,212
2,100298506,1,8,10,3,5,NaN,1,2.0,4,...,2,1,1,10010000,000-0,1,4,3,320,212
3,100318603,1,8,10,3,25,NaN,1,2.0,5,...,3,3,2,10010000,000-0,1,4,3,330,237
4,100318605,1,8,10,3,35,NaN,1,2.0,3,...,2,2,1,10010000,000-0,1,4,3,330,237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69164,3260583804,1,7,10,2,30,NaN,1,2.0,3,...,2,1,1,320420000,000-0,4,2,536,78870,194
69165,3260583805,1,1,3,2,11,NaN,1,2.0,3,...,3,2,1,320420000,000-0,4,2,536,78870,194
69166,3260583806,1,7,3,2,41,NaN,1,2.0,2,...,1,6,1,320420000,000-0,4,2,536,78870,194
69167,3260583907,1,7,3,2,20,NaN,1,2.0,2,...,2,3,1,320420000,000-0,4,2,536,78870,194
69168,3260583908,1,7,10,2,10,NaN,1,2.0,1,...,1,1,1,320420000,000-0,4,2,536,78870,194

In [8]:
vivi = ds_vivi[['folioviv', 'pago_mesp']]
vivi

         folioviv  pago_mesp
0       100298502        NaN
1       100298504        NaN
2       100298506        NaN
3       100318603        NaN
4       100318605        1.0
...           ...        ...
69164  3260583804        NaN
69165  3260583805        NaN
69166  3260583806        NaN
69167  3260583907        NaN
69168  3260583908        NaN

[69169 rows x 2 columns]

In [18]:
vivi['pago_mesp'] = vivi['pago_mesp'].replace(1, 0)
vivi['pago_mesp'] = vivi['pago_mesp'].replace(2, 1)
vivi['pago_mesp'].fillna(0, inplace=True)

In [29]:
vivi['pago_mesp']= vivi['pago_mesp'].astype('int64')

In [33]:
vivi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69169 entries, 0 to 69168
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   folioviv   69169 non-null  int64
 1   pago_mesp  69169 non-null  int64
dtypes: int64(2)
memory usage: 1.1 MB

In [36]:
vivi.isnull().sum()

folioviv     0
pago_mesp    0
dtype: int64

In [34]:
ds_gasto = pd.read_csv('datos/conjunto_de_datos_gastoshogar_enigh_2016_ns.csv')
ds_gasto

,folioviv,foliohog,clave,tipo_gasto,mes_dia,forma_pag1,forma_pag2,forma_pag3,lugar_comp,orga_inst,...,inmujer,inst_1,inst_2,num_meses,num_pagos,ultim_pago,gasto_tri,gasto_nm,gas_nm_tri,imujer_tri
0,100031904,1,H102,G1,0,1,0,0,5,0,...,500.0,NaN,NaN,NaN,NaN,NaN,489.13,NaN,NaN,489.13
1,100031904,1,H110,G1,0,1,0,0,7,0,...,NaN,NaN,NaN,NaN,NaN,NaN,684.78,NaN,NaN,NaN
2,100031904,1,J044,G1,0,1,0,0,5,0,...,-1.0,1.0,NaN,NaN,NaN,NaN,97.82,NaN,NaN,-1.00
3,100031905,1,C001,G1,0,6,0,0,9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,609.67,NaN,NaN,NaN
4,100031905,1,C004,G1,0,6,0,0,9,0,...,NaN,NaN,NaN,NaN,NaN,NaN,348.38,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1960390521,1,I026,G1,0,1,0,0,3,0,...,NaN,NaN,NaN,NaN,NaN,NaN,24.45,NaN,NaN,NaN
1048571,1960390521,1,N014,G1,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,39.13,NaN,NaN,NaN
1048572,1960390523,1,C001,G1,0,1,0,0,6,0,...,NaN,NaN,NaN,NaN,NaN,NaN,87.09,NaN,NaN,NaN
1048573,1960390523,1,C003,G1,0,1,0,0,6,0,...,NaN,NaN,NaN,NaN,NaN,NaN,63.87,NaN,NaN,NaN
1048574,1960390523,1,C004,G1,0,1,0,0,6,0,...,NaN,NaN,NaN,NaN,NaN,NaN,98.70,NaN,NaN,NaN

In [35]:
gasto = ds_gasto[['folioviv','gasto_tri']]
gasto

           folioviv  gasto_tri
0         100031904     489.13
1         100031904     684.78
2         100031904      97.82
3         100031905     609.67
4         100031905     348.38
...             ...        ...
1048570  1960390521      24.45
1048571  1960390521      39.13
1048572  1960390523      87.09
1048573  1960390523      63.87
1048574  1960390523      98.70

[1048575 rows x 2 columns]

In [37]:
gasto.isnull().sum()

folioviv     0
gasto_tri    8
dtype: int64

In [39]:
gasto['gasto_tri'].fillna(0, inplace=True)

In [41]:
gasto.isnull().sum()

folioviv     0
gasto_tri    0
dtype: int64

In [42]:
ds_ingre = pd.read_csv('datos/conjunto_de_datos_ingresos_enigh_2016_ns.csv')
ds_ingre

,folioviv,foliohog,numren,clave,mes_1,mes_2,mes_3,mes_4,mes_5,mes_6,ing_1,ing_2,ing_3,ing_4,ing_5,ing_6,ing_tri
0,100252301,1,2,P009,NaN,NaN,NaN,NaN,NaN,NaN,20000,0,0,0,0,0,4891.30
1,100252301,1,2,P044,8.0,7.0,6.0,5.0,4.0,3.0,1200,0,1200,0,1200,0,1760.86
2,100252301,1,2,P051,8.0,7.0,6.0,5.0,4.0,3.0,10000,0,0,0,0,0,4891.30
3,100252301,2,1,P001,8.0,7.0,6.0,5.0,4.0,3.0,8000,8000,8000,8000,8000,8000,23478.26
4,100252301,1,1,P044,8.0,7.0,6.0,5.0,4.0,3.0,1100,0,1100,0,1100,0,1614.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334332,3260578405,1,3,P044,8.0,7.0,6.0,5.0,4.0,3.0,0,1160,0,1160,0,1160,1702.17
334333,3260578405,1,1,P043,8.0,7.0,6.0,5.0,4.0,3.0,0,0,0,3900,0,0,1907.60
334334,3260578405,1,3,P042,8.0,7.0,6.0,5.0,4.0,3.0,0,900,0,900,0,900,1320.65
334335,3260578405,1,1,P044,8.0,7.0,6.0,5.0,4.0,3.0,0,1160,0,1160,0,1160,1702.17
334336,3260578405,1,1,P072,8.0,7.0,6.0,5.0,4.0,3.0,208,208,208,208,208,208,610.43

In [45]:
ingre = ds_ingre[['folioviv','ing_tri']]

In [47]:
ingre.isnull().sum()

folioviv    0
ing_tri     0
dtype: int64

In [51]:
momento = pd.merge(left=gasto, right=ingre,left_on='folioviv',right_on='folioviv',how='inner')
momento

           folioviv  gasto_tri   ing_tri
0         100031904     489.13    611.41
1         100031904     489.13   7043.47
2         100031904     489.13  14673.91
3         100031904     489.13    146.73
4         100031904     684.78    611.41
...             ...        ...       ...
5647240  1960390523      63.87   5654.34
5647241  1960390523      98.70    274.40
5647242  1960390523      98.70  16679.34
5647243  1960390523      98.70    317.93
5647244  1960390523      98.70   5654.34

[5647245 rows x 3 columns]

In [65]:
g= momento.groupby(['folioviv'])['gasto_tri', 'ing_tri'].sum()
g.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43083 entries, 100003801 to 1960457025
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gasto_tri  43083 non-null  float64
 1   ing_tri    43083 non-null  float64
dtypes: float64(2)
memory usage: 1009.8 KB

In [58]:
DS_Bonito = pd.merge(left=g, right=vivi,left_on='folioviv',right_on='folioviv',how='inner')
DS_Bonito

         folioviv  gasto_tri     ing_tri  pago_mesp
0       100003801  102287.72  3524384.50          0
1       100003802  323817.18  5394097.44          0
2       100003803   30520.57  2726557.35          0
3       100003804   67201.85  1398687.60          0
4       100003805   47740.52  1480327.45          0
...           ...        ...         ...        ...
43078  1960457021   26569.11   240358.59          0
43079  1960457022     284.49    18489.12          0
43080  1960457023  456710.40  2280324.48          0
43081  1960457024    7358.88   247108.44          0
43082  1960457025    2961.25   105358.64          0

[43083 rows x 4 columns]

In [59]:
DS_Bonito.describe()

           folioviv     gasto_tri       ing_tri  pago_mesp
count  4.308300e+04  4.308300e+04  4.308300e+04    43083.0
mean   9.836190e+08  6.281129e+04  1.135991e+06        0.0
std    5.626810e+08  1.241755e+05  8.099724e+06        0.0
min    1.000038e+08  1.467000e+01  7.377000e+01        0.0
25%    5.029416e+08  1.078942e+04  2.646588e+05        0.0
50%    9.154223e+08  2.789244e+04  5.914950e+05        0.0
75%    1.506556e+09  6.686314e+04  1.236785e+06        0.0
max    1.960457e+09  4.506876e+06  1.538014e+09        0.0